@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    border: 0;
    margin: 0;
    /* border: solid 1px red; */
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 85%;
    background-color: rgb(119, 164, 190, red);
    align-self: center;
}
.personal_info{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 1%;
    margin-left: 1%;
    padding-right: 1%;
}
#profile_img{
    border-radius: 50%;
    box-shadow: 0px 6px 5px #ccc;
}
#name{
    text-align: center;
    margin-top: 6%;
    font-weight: 300;
}
.portfolio{
    display: flex;
    width: 70%;
    text-align: center;
    flex-direction: column;
    margin-left: 0;
    padding-left: 1%;
}
.portfolio h1{
    padding-bottom: 1%; padding-top: 1%;
    background: linear-gradient(#D7D7CF, #DEDACE);
    border-radius: 5px;
}
.education{
    border-radius: 5px;
    background-color: #DEDACE;
    padding: 1%;
    width: 50%;
    margin-right: 1%;
}
.education li{
    list-style: none;
    margin-top: 4%;
    margin-left: -15%;
}
.professional_info{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 1%;
}
.certifications{
    border-radius: 5px;
    background-color: #DEDACE;
    padding: 1%;
    width: 100%;
}
.certifications li{
    list-style: none;
    margin-top: 2%;
    margin-left: -7%;
}
.projects_info li{
    list-style: none;
    margin-left: -5%;
    margin-top: 1%;
}
li img{
    width: 100%;
}
.projects_info{
    padding: 1%;
    border-radius: 5px;
    background: linear-gradient(#DEDACE, #E6DBC7);
}