@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    border: 0;
    margin: 0;
    /* border: solid 1px red; */
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight: 300;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 85%;
    background-color: #375566;
    align-self: center;
}
/* Personal Info */
.personal_info{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 1%;
    margin-left: 1%;
    padding-right: 1%;
}
#profile_img{
    border-radius: 50%;
    box-shadow: 1px 2px 10px 0px black;
}
#name{
    text-align: center;
    margin-top: 8%;
}
.icons{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 10%;
}
.icons img{
    width: 10%;
}
#a_icons{
    filter: invert(0.9);
}
#a_icons:hover{
    filter: invert(0.0);
}
/* Portfolio */
.portfolio{
    display: flex;
    width: 70%;
    text-align: center;
    flex-direction: column;
    margin-left: 0;
    padding-left: 1%;
}
.portfolio h1{
    padding-bottom: 1%; padding-top: 1%;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    font-size: 260%;
}
/* Experience */
.experience_info{
    margin-top: 1%;
}
.experience{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1%;
    width: 98%;
    margin-right: 1%;
}
.experience ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -4%;
    list-style: none;
}
.experience li{
    margin-bottom: 1%;
    width: 100%;
}
.experience .exp_text{
    font-size: medium;
}
.experience li{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 100%;    
}
.company_info{
    width: 25%;
    padding-left: 10px;
    padding-right: 5px;
    font-size: smaller;
}
.exp_info{
    width: 70%;
    border-left: 1px solid rgba(210, 210, 210, 0.6);
    padding-left: 10px;
}
.exp_img{
    width: 30px;
}
.comp_name{
    font-size: x-large;
    padding: 3px;
}
.exp_t{
    color: rgb(143, 189, 214);
    font-size: medium;
    margin-right: 10px;
}
.expe_text{
    font-size: larger;
    text-align: left;
    padding-bottom: 5px;
    margin-left: 15px;
}
.expe_func{
    display: list-item;
    align-items: baseline;
    align-self: auto;
    text-align: left;
}
.expe_func p{
    margin: 10px;
    margin-left: 15px;
}
/* Education & Certifications */
.professional_info{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 1%;
}
div h2{
    font-size: 180%;
    margin-bottom: 15px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.3);
}
/* Education */
.education{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1%;
    width: 50%;
    margin-right: 1%;
}
.education ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
} 
.education li{
    list-style: none;
    margin-left: -15%;
}
.education p{
    margin-top: 6px;
    font-size: large;
}
.education .c_web{
    font-size: medium;
}
.education .d_web{
    color: rgb(143, 189, 214);
    font-size: medium;
}
/* Certifications */
.certifications{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1%;
    width: 100%;
}
.certifications ul{
    padding-bottom: 1%;
}
.certifications li{
    list-style: none;
    margin-top: 2.5%;
    margin-left: -7%;
    font-size: large;
}
.c_web{
    color: rgb(143, 189, 214);
    font-size: smaller;
}
/* Projects */
.projects_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
.projects_info h2{
    width: 100%;
    font-size: 165%;
}
.projects_info ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -4%;
    list-style: none;
}
.projects_info li{
    margin-bottom: 1%;
    width: 100%;
}
li img{
    width: 100%;
    margin-top: 10px;
}
.projects_info p{
    font-size: medium;
    padding-right: 1%; padding-left: 1%;
    padding-top: 8px;
    padding-bottom:6px;
    color: rgb(143, 189, 214);
}
a{
    font-size: medium;
    text-decoration: none;
}
a:hover{
    color: rgb(143, 189, 214);
}
#link{
    padding: 20px;
}
/* Collapse projects */
.collapsible {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 120%;
    border-radius: 5px;
  }
  .active, .collapsible:hover {
    background-color: #375566;
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
  }
  .active:after {
    content: "\2212";
  }
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(0, 0, 0, 0);
  }